.sidebar {
  font-family: 'Poppins', sans-serif;
  width: 280px;
  height: 100vh;
  background-color:  #dddded;
  border-right: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  position: fixed;
  top: 0;

  .top-section {
    text-align: left;

    .logo {
      font-size: 1.5rem;
      margin: 0;
      color: #111;
      font-weight: 700;
    }

    .subtitle {
      font-size: 0.9rem;
      color: #888;
      margin-top: 0.2rem;
    }
  }
  .user {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    background: #f8f9fa;
    border-radius: 12px;
    padding: 0.6rem 0.8rem;
    margin-top: 1.5rem;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #111;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 1rem;
    }

    .userinfo {
      .name {
        margin: 0;
        font-weight: 600;
        color: #222;
      }
      .email {
        margin: 0;
        font-size: 1rem;
        color: #666;
      }
    }
  }

  .nav-links,
  .bottom-links {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 0.7rem;

    .logout, a {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      text-decoration: none;
      font-size: 19px;
    
      font-weight: 600;
        
      color: #333;
      padding: 0.5rem 0.8rem;
      border-radius: 5px;
      transition: all 0.2s ease-in-out;

      svg {
        color: #666;
      }

      &:hover {
        background: #f1f1f1;
      }

      &.active {
        background: #111;
        color: #fff;

        svg {
          color: #fff;
        }
      }
    }
  }

  .bottom-links {
    margin-top: auto;
  
    border-top: 1px solid #eee;
  }
}
